.Proyectos{
  transform: scale(-1);
  width: 85%;
  height: auto;
  margin: auto;
  padding: 6vh 0;
  min-height: 100vh;
  /* display: grid;
  grid-template-columns:35% 65%; */
  display: flex;
  flex-direction: column;
}

.cards{
    transform: scale(-1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.h2S{
 margin-bottom: 40px;
}

.card{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 380px;
    border: 2px solid var(--main-color);
    border-radius:10px ;
    transition: transform 0.3s ease-in-out;
   
}
.card:hover{
    transform: translateY(-5px);
}

.card .image img{
    width: 100%;
    height: 170px;
    border-radius: 9px 9px 0 0;
    opacity: .7;
}

.tecno{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.tecno img{
    width: 30px;
}



.btns{ 
    width: 100%;
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btns div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.btns a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns img, svg{
  width: 25px;
  filter: invert(100%) sepia(0%) saturate(3583%) hue-rotate(326deg) brightness(114%) contrast(104%);
}

.btns img:hover{
    filter: invert(52%) sepia(87%) saturate(1542%) hue-rotate(99deg) brightness(95%) contrast(97%);
    transition: all .2s ease-in-out;
}
h3{
    color: var(--main-color);
}


.card .descrip{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;

    height: 80px;
    color: #ffffff;
}

.servicios{
    transform: scale(-1);
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-bottom: 40px;
}

.servicios h2{
    font-size:27px;
}

.habi{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.habi div{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.habi div h5{
    font-size: 10px;
    text-align: center;
}

.habi div img{
    width: 45px;
}

.habi div{
    transition: all .3s ease-in-out;
}

.habi div:hover{
    transform: translateY(-4%);
}

.metodo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.metodo div{
  width: 200px;
  height: 200px;
  border: 2px solid  var(--main-color);
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.metodo div:hover{
    transform: translateY(-5px);
}

.metodo p{
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

.metodo div img{
    width: 45px;
}

h2{
    margin-bottom: 10px;
}



@media (max-width: 800px){
   .Proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15vh 0 3vh 0;
   } 

   .habi, .metodo{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .cards{
    display: flex;
    justify-content: center;
    align-items: center;
   }
}

@media (max-width: 650px){
   .habi{
    width: 100%;
   }
}